/** This CSS file is only for the mobile version of the Website and will update the website when the width of the screen
will be 768px **/

@media screen and (max-width: 768px) {

header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.textPhone {
    display: contents;
}

.logo {
    height: 35%;
    width: 35%;
}

.imgHeader {
    height : 50%;
    width : 50%;
}

.sectionAvis {
    display: none;
}

.sectionAchat {
    margin-left:5% !important;
}

.sponsoring {
    display: none;
}


.textAchat{
    font-size:larger;
}

.achatIcon {
height : 150%;
width: 150%;
}

.violet {
    width: 35px;
    height: 35px;
    background: linear-gradient(137.27deg, #4670E7 14.37%, #9C00FF 87.08%);
}

.orange {
    width: 35px;
    height: 35px;
    background: linear-gradient(137.27deg, #E74646 14.37%, #FFE600 87.08%);
    margin-left: 20px;
}

.vert {
    width: 35px;
    height: 35px;
    background: linear-gradient(137.27deg, #05FF00 14.37%, #00FFFF 87.08%);
    margin-left: 20px;
}

.buttonBuy {
    width: 130px;
    height: 42px;
    background: linear-gradient(95.89deg, #9C00FF 6.1%, #4670E7 91.38%);
    border-radius: 81px;
}

.textBuyButton {
    font-size: small;
}

.mediasContainer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}


}